langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
langchain-tavily
wikipedia
trustcall
langgraph-cli[inmem]
ipykernel
dotenv
langchain-ollama
ollama
langchain-core
langchain-ollama
llama-index
llama-index-llms-openai
llama-index-llms-ollama
llama-index-graph-stores-tidb
llama-index-embeddings-ollama